<!DOCTYPE html>
<html>

<head>
    <title>OAuth2Orize Recipes Login</title>
    <!-- Needed for mobile sites to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style sheets -->
    <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
<% if(!session) { %>

<% } else { %>
<!-- HTML login screen form -->
<form action="/api/user/changepassword" method="post" class="pure-form pure-form-stacked">
    <fieldset>
        <!-- Upper box with Title, username, and password -->
        <div class="upper-box">
            <!-- Title -->
            <div>
                <h1 class="title-padding">Change Password</h1>
            </div>
            <% if(errors && errors.length>0) { %>
            <div class="error" style="color: darkred;"><%= errors.join("<br>") %></div>
            <% } %>
            <div class="pure-control-group">
                <!-- Username label and input -->
                <label class="labels" for="password">New Password:</label>
                <div class="input-fields">
                    <input class="pure-input-1 input-fields" id="name" type="password" placeholder="" name="password"/>
                </div>
            </div>
            <div class="pure-control-group">
                <!-- Password label and input -->
                <label class="labels" for="password">Confirm Password:</label>
                <div class="input-fields">
                    <input class="pure-input-1 input-fields" id="password" type="password" placeholder="" name="confirm_password"/>
                </div>
            </div>
            <input type="hidden" name="email" value="<%= session.email %>" />
            <input type="hidden" name="authCode" value="<%= session.authCode %>" />
            <input type="hidden" name="redirectTo" value="<%= session.redirectTo %>" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </div>
        <!-- Bottom box with Sign in -->
        <div class="bottom-box">
            <div class="pure-controls sign-in-button">
                <button type="submit" value="Submit" class="pure-button pure-button-primary">Change</button>
            </div>
        </div>
    </fieldset>
</form>
<% } %>
</body>
</html>
